# Dependencies
node_modules/

# Build outputs
dist/
build/
.worker/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
.DS_Store

# Coverage
coverage/

# Env
.env
.env.*
